@import "tailwindcss";

html {
  height: 100%;
  background: transparent;
}

body {
  background: #0a1125 !important; 
  height: 100%;
  -webkit-user-select: none;
}

.linuxbg{
  background: #0a1125 !important;
}

.titlebar {
  -webkit-app-region: drag;
}
.titlebar .navi {
  -webkit-app-region: no-drag;
}
.titlebar button {
  -webkit-app-region: no-drag;
}


@keyframes keep-awake {
  0% { opacity: 0.99; }
  100% { opacity: 1; }
}

:root {
  --title-bar-height: 48px;
}

@theme {
  /* This maps your variable to sizing utilities (height, width, padding, margin) */
  --spacing-titlebar: var(--title-bar-height);
}

.selection-area {
  background: rgba(46, 115, 252, 0.11);
  border: 2px solid rgba(98, 155, 255, 0.81);
  border-radius: 0.1em;
}

#root {
  height: 100%;
  background: #0a1125 !important; 
  animation: keep-awake 10s infinite linear;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb:vertical {
  margin: 5px;
  background-color: #999;
  -webkit-border-radius: 5px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  height: 5px;
  display: block;
}

.HW_badge_cont {
  width: 24px !important;
  height: 20px !important;
}

.d3-tooltip {
  position: fixed;
  pointer-events: none;
  background: rgba(15, 23, 42, 0.95); 
  color: white;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 15px;
  line-height: 1.6;
  max-width: 450px;
  word-wrap: break-word;
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
  z-index: 9999;
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
}

.snackbar-progress-track {
  width: 100%;
  height: 6px;
}

.progress-bar-fill {
  height: 100%;
  width: 0%; /* Initial state before animation */
  border-top-right-radius: 240px;
  border-bottom-right-radius: 240px;
}

/* --- ERROR THEME --- */
.error-progress { 
  background-color: #4d0f0f; 
}
.error-progress .progress-bar-fill { 
  background-color: rgb(228, 149, 149); 
}

/* --- WARNING THEME --- */
.warning-progress { 
  background-color: #451a03; 
}
.warning-progress .progress-bar-fill { 
  background-color: #f59e0b; 
}

/* --- SUCCESS THEME --- */
.success-progress { 
  background-color: hsl(164, 86%, 12%); 
  border-radius: 13px; 
}
.success-progress .progress-bar-fill { 
  background-color: #10b981; 
  border-radius: 13px;
}

/* --- INFO THEME --- */
.info-progress { 
  background-color: #172554; 
}
.info-progress .progress-bar-fill { 
  background-color: #3b82f6; 
}

@keyframes windowsSheen {
  from {
    transform: translateX(-100%) skewX(-15deg);
  }

  to {
    transform: translateX(100%) skewX(-15deg);
  }
}

.windows-shimmer {
  animation: windowsSheen 2s infinite linear;
}